/* Timeline */

.network-container {
	position: absolute;
	top: 0%;
	right: 12%;
	width: 650px;
	overflow: "hidden";
	height: 720px;
}

.network-circle-container {
	height: 100%;
	position: relative;
}
.circle {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #2f2f2f;
	color: white;
	font-weight: bold;
}

.center-circle {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #2f2f2f;
	color: white;
	font-weight: bold;
	top: 45% !important;
	left: 45% !important;
}

.center-text {
	position: relative;
	top: 70%;
}
