.App {
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.ar-carousal {
	width: 40vw;
}
.header {
	text-align: center;
}

.carousel-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
}
.selected-image-container {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}
.selected-image {
	width: 450px;
	height: 655px;
	margin-bottom: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 30px;
}

.carousel {
	position: relative;
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
}

.carousel__images {
	display: flex;
	max-width: 75%;
	overflow-x: hidden;
}

.carousel__image-selected {
	border: 3px solid #ffa700 !important;
}

.carousel__image {
	margin-right: 10px;
	height: 75px;
	min-width: 50px;
	border: 3px solid #ffa70000;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel__button {
	position: absolute;
	top: 40%;
}

.carousel__button-left {
	left: 10px;
}

.carousel__button-right {
	right: 10px;
}
